<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="APP_LOG_ROOT">c:/tem2</Property>
    </Properties>
    <Appenders>
    	<Syslog
			id="Catalogo"
			name="graylog" 
			format="RFC5424"
			host="logdesa.telecom.com.ar" 
			port="5553" 
			protocol="TCP"
			appName="CreditLimit" 
			includeMDC="true" 
			facility="SYSLOG"
			enterpriseNumber="5562" 
			newLine="true" 
			messageId="MSGID"
			mdcId="mdc" />
			
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
 
        <RollingFile name="appLog"
            fileName="${APP_LOG_ROOT}/SpringBoot2App/application.log"
            filePattern="${APP_LOG_ROOT}/SpringBoot2App/application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
 
    </Appenders>
    <Loggers>
 
        <Logger name="com.demo.teco" level="debug" additivity="false">
            <AppenderRef ref="appLog" />
            <AppenderRef ref="Console" />
            <AppenderRef ref="graylog" />
        </Logger>
 
        <Root level="debug">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>